/* Se agrega el estilo de la fuente desde Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

svg {
    display: block;
    fill: currentColor;
}

.cabecera {
    padding: 1rem;
    background-color: black;
    height: 100px;
}

.cabecera svg {
    display: block;
    max-height: 66px;
    height: 100%;
    color: white;
    margin: auto;
}

.o-pandora {
    fill-rule: evenodd;
    clip-rule: evenodd;
}

.navegacion {
    position: sticky;
    top: 0;
    height: 50px;
    z-index: 100;
}

.navegacion ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}

.navegacion li {
    margin: 0 auto;
    float: left;
    width: 16.6669%;
    background-color: white;
}

.navegacion li a {
    transition: all 0.3s ease-in-out;
    height: 50px;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 15px 0 15px 0;
    color: black;
    font-weight: 500;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.navegacion li a:hover {
    background-color: #ededed;
    border-bottom: 3px solid black;
}

.main {
    margin: auto;
    max-width: 1440px;
    min-height: 100vh;
}

/* Con esto evitamos que el contenido se desborde, cada main y contenedor que use float no debería de desbordarse, principalmente gracias al clear:both */
.clear,
.main::after,
.contenedor::after,
.footer::after {
    content: "";
    display: table;
    clear: both;
}

.contenedor {
    overflow: hidden;
    width: 100%;
    margin: auto;
}
.contenedor:first-child {
    margin-top: 0;
}

.footer {
    color: #fff;
    background-color: black;
}
.footer > * {
    max-width: 1440px;
    margin: auto;
}
.linksFooter {
    overflow: hidden;
}
.linksFooter ul {
    position: relative;
    padding: 16px;
    float: left;
    width: 33.33%;
    list-style: none;
}
.linksFooter ul li {
    text-align: left;
}
.linksFooter ul li a {
    width: 50%;
    margin: auto;
    display: block;
    color: #fff;
    text-wrap: nowrap;
    padding: 8px;
}
.linksFooter ul li a:hover {
    color: #ec6439;
}
.creadores h5 {
    text-align: center;
    padding: 16px 0;
    font-weight: 400;
}
.linksSociales {
    padding: 16px;
    color: white;
    overflow: hidden;
    width: max-content;
}
.footer h6 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}
.linksSociales h6 a {
    position: relative;
    display: inline;
}
.linksSociales h6 a svg {
    bottom: -3.5px;
    position: relative;
    display: inline;
    height: 16px;
    width: auto;
}
.linksSociales div a {
    display: block;
    float: left;
    margin-left: 23px;
    width: 32px;
}
.linksSociales div a:first-child {
    margin-left: 0;
}
.footer svg,
.footer div a {
    color: #fff;
    transition: all 0.2s linear;
}
.svgInstagram:hover svg {
    color: #c32aa3;
}
.svgFacebook:hover svg {
    color: #3b5998;
}
.svgTiktok:hover svg {
    filter: drop-shadow(-2px -2px 0 #00f2ea) drop-shadow(3px 3px 0 #ff0050);
}
.svgYoutube:hover svg {
    color: #ff0000;
}

/* Componente de productos */

.productos {
    display: block;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 10px;
}

.producto {
    text-align: center;
    padding: 16px;
    width: 20%;
    height: 550px;
    float: left;
    margin-left: 6.66%;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #e1dfdf;
    box-shadow: 0 0 15px #e1dfdf;
    transition: all 0.2s ease-in-out;
}
/* cada 4 productos, el margen izquierdo es 0 */
.producto:nth-child(4n + 1) {
    margin-left: 0;
}

.producto:hover {
    transform: translateY(-2.5px);
}

.imagenProducto {
    width: 100%;
    height: 300px;
    margin: 10px auto;
}
.imagenProducto img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nombreProducto {
    line-height: 1.5;
    font-size: 21px;
    width: 100%;
    height: 95px;
    /* Con -webkit-box y -webkit-line-clamp limitamos el número de líneas a 3, -webkit-box es un contenedor que limita el número de líneas */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.precioProducto {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}

.botonCompra {
    margin: 16px auto 0;
    width: 70%;
    background-color: #000;
    border: 2px solid #000;
    letter-spacing: 0.19px;
    color: #fff;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

.botonCompra:hover {
    background-color: #fff;
    color: #000;
}
