* {
    box-sizing: border-box;
}

.cabecera {
    padding: 1rem;
    background-color: black;
    height: 100px;
}

.cabecera svg {
    display: block;
    max-height: 66px;
    height: 100%;
    fill: currentColor;
    color: white;
    margin: auto;
}

.cabecera .o-pandora {
    fill-rule: evenodd;
    clip-rule: evenodd;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}

nav ul li{
    margin: 0 auto ;
    float: left;
    width: 16.6669%;
}

nav ul li a{
    transition: all 0.3s ease-in-out;
    height: 50px;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 15px 0 15px 0;
    font-family: sans-serif;
    color: black;
    font-weight: 500;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

a:hover{
    background-color: #ededed;
    border-bottom: 3px solid black;
}

section {
    height: 100vh;
    min-height: 400px;
    margin-top: 50px;
}

footer {
    clear: both;
    background-color: black;
    min-height: 100px;
}