/* Se agrega el estilo de la fuente desde Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.cabecera {
    padding: 1rem;
    background-color: black;
    height: 100px;
}

.cabecera svg {
    display: block;
    max-height: 66px;
    height: 100%;
    fill: currentColor;
    color: white;
    margin: auto;
}

.cabecera .o-pandora {
    fill-rule: evenodd;
    clip-rule: evenodd;
}

nav {
    position: sticky;
    top: 0;
    height: 50px;
    z-index: 100;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}

nav ul li {
    margin: 0 auto;
    float: left;
    width: 16.6669%;
    background-color: white;
}

nav ul li a {
    transition: all 0.3s ease-in-out;
    height: 50px;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 15px 0 15px 0;
    font-family: sans-serif;
    color: black;
    font-weight: 500;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav ul li a:hover {
    background-color: #ededed;
    border-bottom: 3px solid black;
}

.main {
    margin: auto;
    max-width: 1440px;
    min-height: 100vh;
}

/* Con esto evitamos que el contenido se desborde, cada main y contenedor que use float no debería de desbordarse, principalmente gracias al clear:both */
.main::after,
.contenedor::after {
    content: "";
    display: table;
    clear: both;
}

.contenedor {
    overflow: hidden;
    width: 100%;
    margin: auto;
    margin-top: 100px;
}
.contenedor:first-child {
    margin-top: 0;
}

footer {
    background-color: black;
    min-height: 100px;
}
