html {
    scroll-behavior: smooth;
}
* {
    transition: all 0.3s ease-in-out;
}

.contenedor {
    margin-top: 75px;
}
.contenedor:first-child {
    margin-top: 0;
}

.hero {
    background-color: #000;
    overflow: hidden;
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 90vh;
}
.hero ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.hero li {
    border: 1px solid #fff;
}
/* Sección izquierda del hero */
.leftHero {
    position: relative;
    width: 75%;
    height: 100%;
    float: left;
}
.leftHero > div {
    box-shadow: 0 0 7px #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 57%;
    min-width: 60%;
    padding: 50px 10px;
    border-radius: 5px;
    font-size: 22px;
    height: auto;
    background-color: #000000c5;
    color: #fff;
    z-index: 2;
    text-align: center;
}
.textHero {
    position: relative;
    overflow: hidden;
}
.textHero h1 {
    margin: 0 0 10px;
}
.textHero .btn {
    box-shadow: 0 0 3px #000;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ffffff80;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.textHero .btn:hover {
    background-color: #fff;
    color: #000;
}
.imageHero {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.imageHero li {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.imageHero li img {
    opacity: 0.9;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
/* La clase se aplica al hero desde JavaScript cuando se hace click en el selector correspondiente */
.imageActual {
    opacity: 1 !important;
    z-index: 1 !important;
}

/* Sección derecha del hero */
.imagesSelector {
    position: relative;
    width: 25%;
    height: 100%;
    float: right;
}
.imagesSelector li {
    opacity: 0.5;
    width: 100%;
    height: 25%;
    cursor: pointer;
}
.imagesSelector li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
/* La clase se aplica al li correspondiente desde JavaScript cuando se esta viendo esa imagen en el hero */
.heroSelectorActual {
    opacity: 1 !important;
}

.titulo {
    font-size: 32px;
}

.titulo span {
    font-weight: 600;
    padding-left: 4px;
}
.titulo:hover span {
    color: #ec6439;
}

.botonCompra {
    display: block;
}

.producto:last-child {
    position: relative;
    opacity: 0.75;
}
.producto:last-child:hover {
    opacity: 1;
}
.producto:last-child:hover .imagenProducto,
.producto:last-child:hover .nombreProducto,
.producto:last-child:hover .precioProducto {
    opacity: 0;
}
.producto:last-child:hover .botonCompra {
    transition: none 0s ease-in-out;
}
.producto:last-child::before {
    display: block;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    content: 'Conoce todos los productos presionando en "Ver más"';
}
.producto:last-child:hover::before {
    opacity: 1;
}

.contenedorFormulario {
    background-color: #f7f7f7;
    margin-top: 0;
}

.newsletter {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
}

.newsletterText,
.emailForm {
    overflow: hidden;
    float: left;
    position: relative;
    width: 50%;
    padding: 16px 32px;
}

.banner {
    overflow: hidden;
    border-radius: 10px;
    cursor: initial;
    display: block;
    width: 100%;
    height: 250px;
    position: relative;
}
.bannerImg {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}
.bannerImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contenidoBanner {
    padding: 16px 32px;
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
}
.textoBanner,
.contenidoBanner button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.textoBanner {
    float: left;
}
.textoBanner h3 {
    font-size: 32px;
    font-weight: 600;
}
.contenidoBanner button {
    margin-right: 10px;
    float: right;
    color: #fff;
    font-weight: 800;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    cursor: pointer;
}
.contenidoBanner button:hover {
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}

/* Reglas especificas para cada banner */
/* Banner SkinCare */
.bannerSkinCare .contenidoBanner {
    background: linear-gradient(
        133deg,
        rgba(255, 236, 204, 1) 14%,
        rgba(255, 255, 255, 0) 60%
    );
}
.bannerSkinCare .textoBanner {
    color: #000;
    top: 40%;
    font-size: 20px;
    letter-spacing: -1px;
}
.bannerSkinCare h3 {
    letter-spacing: normal;
    font-size: 24px;
}
.bannerSkinCare button {
    background-color: #fff;
    border: 1px solid rgba(255, 236, 204, 1);
    color: #000;
    font-weight: 400;
}
.bannerSkinCare button,
.bannerSkinCare .textoBanner {
    float: none;
}
/* Banner Perfume */
.bannerPerfume .contenidoBanner {
    background: linear-gradient(
        90deg,
        rgba(236, 100, 57, 1) 20%,
        rgba(0, 0, 0, 0.241421568627451) 45%,
        rgba(0, 0, 0, 0) 80%
    );
}
.bannerPerfume .bannerImg {
    background-color: rgba(236, 100, 57, 1);
}
.bannerPerfume img {
    object-position: 100px -250px;
}
.bannerPerfume button {
    background-color: #ec6439;
    border: 1px solid #ec6439;
}

/* Ventajas Sephora */
.contenedorVentajas {
    position: relative;
    background-color: #000;
    color: #fff;
    padding: 32px 32px;
}
.textoVentajas {
    position: relative;
    float: left;
    width: 33%;
    height: 275px;
}
.textoVentajas > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.textoVentajas h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
}
.textoVentajas p span {
    color: #ec6439;
}
.ventajas {
    overflow: hidden;
    position: relative;
    float: right;
    width: 66%;
}
.ventaja {
    cursor: pointer;
    overflow: hidden;
    width: 14.28%;
    float: right;
    height: 275px;
}
.ventaja:hover {
    width: 28.56%;
}
.ventaja figure {
    position: relative;
    width: 100%;
    height: 100%;
}
.ventaja figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
.ventaja figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.ventaja figcaption div {
    position: absolute;
    bottom: -15px;
    left: -10px;
    width: 200%;
    height: 100%;
    filter: blur(20px);
}
.ventaja:nth-child(1) figcaption div {
    background-color: rgba(0, 0, 0, 0.7);
}
.ventaja:nth-child(2) figcaption div {
    background-color: rgba(48, 0, 0, 0.5);
}
.ventaja:nth-child(3) figcaption div {
    background-color: rgba(0, 0, 48, 0.5);
}
.ventaja:nth-child(4) figcaption div {
    background-color: rgba(0, 48, 0, 0.5);
}
.ventaja:nth-child(5) figcaption div {
    background-color: rgba(48, 48, 0, 0.5);
}
.ventaja:nth-child(6) figcaption div {
    background-color: rgba(48, 0, 48, 0.5);
}
.ventaja h5 {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 16px 0;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    filter: blur(0) grayscale(0);
}
.ventaja p {
    width: 100%;
    font-size: 14px;
    text-align: center;
    filter: blur(0) grayscale(0);
}
.ventaja:hover figcaption {
    height: 40%;
    opacity: 1;
}

/* Formulario newsletter */
.condiciones {
    margin: 32px auto;
    width: max-content;
}

.condiciones a {
    color: #808080;
    margin: auto;
}
.condiciones a:hover {
    color: #000;
    text-decoration: underline;
}

.emailForm input {
    width: 60%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.emailForm button {
    width: 30%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #000;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}

.emailForm input,
.emailForm button {
    padding: 8px 16px;
    margin: 8px 0;
    border: 1px solid #808080;
}
