* {
    transition: all 0.3s ease-in-out;
}

.contenedor {
    margin-top: 75px;
}
.contenedor:first-child {
    margin-top: 0;
}

.slider {
    min-height: 100vh;
}

.titulo {
    font-size: 32px;
}

.titulo span {
    font-weight: 600;
    padding-left: 4px;
}
.titulo:hover span {
    color: #ec6439;
}

.botonCompra {
    display: block;
}

.producto:last-child {
    position: relative;
    opacity: 0.75;
}
.producto:last-child:hover {
    opacity: 1;
}
.producto:last-child:hover .imagenProducto,
.producto:last-child:hover .nombreProducto,
.producto:last-child:hover .precioProducto {
    opacity: 0;
}
.producto:last-child:hover .botonCompra {
    transition: none 0s ease-in-out;
}
.producto:last-child::before {
    display: block;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    content: 'Conoce todos los productos presionando en "Ver más"';
}
.producto:last-child:hover::before {
    opacity: 1;
}

.contenedorFormulario {
    background-color: #f7f7f7;
}

.newsletter {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
}

.newsletterText,
.emailForm {
    overflow: hidden;
    float: left;
    position: relative;
    width: 50%;
    padding: 16px 32px;
}

.condiciones {
    margin: 32px auto;
    width: max-content;
}

.condiciones a {
    color: #808080;
    margin: auto;
}
.condiciones a:hover {
    color: #000;
    text-decoration: underline;
}

.emailForm input {
    width: 60%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.emailForm button {
    width: 30%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #000;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}

.emailForm input,
.emailForm button {
    padding: 8px 16px;
    margin: 8px 0;
    border: 1px solid #808080;
}

