/* Sección de anuncios de descuentos */
.contenedorDescuentos {
    padding: 50px 55px;
    font-family: work sans, sans-serif;
    text-align: center;
}

.descuentoMaquillaje {
    width: 45%;
    height: 400px;
    float: left;
    background-image: url(../img/maquillaje/anuncio3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.descuentoMaquillaje:nth-child(2) {
    background-image: url(../img/maquillaje/anuncio2.jpg);
    float: right;
}

.cajaTexto {
    width: 50%;
    height: 40%;
    position: relative;
    left: 6%;
    top: 8%;
}

.cajaTexto p {
    color: white;
    background-color: rgb(203, 61, 87);
}
.cajaTexto p:first-child {
    padding: 10px;
    font-size: 40px;
}
.cajaTexto p:last-child {
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 5px;
}

.cajaDescuento {
    width: 30%;
    height: 30%;
    position: relative;
    left: 68%;
    bottom: 30%;
}

.cajaDescuento p {
    font-size: 80px;
    color: rgb(203, 61, 87);
    padding-top: 15px;
    font-weight: 600;
    -webkit-text-stroke: 2px white;
}

/* Sección de productos */
.contenedorProductos {
    padding: 55px;
}

.tituloProductos {
    font-size: 60px;
    font-family: helvetica, arial, sans-serif;
    clear: both;
}

.productos {
    width: 100%;
    height: 1250px;
    position: relative;
    top: 10px;
}

.producto {
    text-align: center;
    padding: 16px;
    width: 20%;
    height: 550px;
    float: left;
    margin-left: 6.66%;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #e1dfdf;
    box-shadow: 0 0 15px #e1dfdf;
}
/* cada 4 productos, el margen izquierdo es 0 */
.producto:nth-child(4n + 1) {
    margin-left: 0;
}

/* Sección de máscara de pestañas en productos */
.imagenProducto {
    width: 100%;
    height: 300px;
    margin: 10px auto;
}
.imagenProducto img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nombreProducto {
    line-height: 1.5;
    font-size: 21px;
    width: 100%;
    height: 95px;
    /* Con -webkit-box y -webkit-line-clamp limitamos el número de líneas a 3, -webkit-box es un contenedor que limita el número de líneas */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.precioProducto {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}

.botonCompraProducto {
    margin: 16px auto 0;
    width: 70%;
    background-color: #000;
    border: 2px solid #000;
    font-family: "Work Sans", sans-serif;
    letter-spacing: 0.19px;
    color: #fff;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

.botonCompraProducto:hover {
    background-color: #fff;
    color: #000;
}

/* Sección caja Probador */

.cajaProbador {
    height: 650px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: auto;
    position: relative;
}

.cajaProbador > div,
.cajaProbador .comparativaMaquillaje {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    float: left;
}

.tituloProbador {
    font-size: 70px;
    font-family: helvetica, arial, sans-serif;
    margin: 0;
    margin-bottom: 10px;
    line-height: 1;
}

.textoProbador {
    font-size: 18px;
    font-family: helvetica, arial, sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-right: 10px;
}

.botonExplorar {
    float: left;
    font-size: 22px;
    font-weight: 600;
    margin-top: 12.5px;
    cursor: pointer;
}

.imgBoton {
    transition: all 0.2s ease-in-out;
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 5px;
    cursor: pointer;
}
.imgBoton:hover {
    transform: translateX(10px);
}

.comparativaMaquillaje {
    height: 90%;
}

.comparativaMaquillaje img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Sección de trucos */
.contenedorTrucos {
    width: 100%;
    height: 700px;
    margin: auto;
    padding: 40px;
}

.contenedorTrucos h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

.trucos div {
    width: 22.5%;
    margin-left: 2.5%;
    height: 500px;
    float: left;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.trucos div:first-child {
    margin-left: 0;
}

.contenedorTrucos p {
    color: white;
    font-size: 25px;
    font-weight: 600;
    width: 88%;
    margin: auto;
    position: relative;
    top: 85%;
}

.contenedorTrucos p:hover {
    text-decoration: underline;
}

.truco1 {
    background-image: url(../img/maquillaje/truco1.jpg);
}

.truco2 {
    background-image: url(../img/maquillaje/truco2.jpeg);
}

.truco3 {
    background-image: url(../img/maquillaje/truco3.jpeg);
}

.truco4 {
    background-image: url(../img/maquillaje/truco4.jpg);
}
