/* Sección de anuncios de descuentos */
.contenedorDescuentos {
    padding: 50px 55px;
    font-family: work sans, sans-serif;
    text-align: center;
}

.descuentoMaquillaje {
    width: 45%;
    height: 400px;
    float: left;
    background-image: url(../img/maquillaje/anuncio3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
}
.descuentoMaquillaje:nth-child(2) {
    background-image: url(../img/maquillaje/anuncio2.jpg);
    float: right;
}

.cajaTexto {
    width: 50%;
    height: 40%;
    position: relative;
    left: 6%;
    top: 8%;
}

.cajaTexto p {
    color: white;
    background-color: rgb(203, 61, 87);
}
.cajaTexto p:first-child {
    padding: 10px;
    font-size: 40px;
}
.cajaTexto p:last-child {
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 5px;
}

.cajaDescuento {
    width: 30%;
    height: 30%;
    position: relative;
    left: 68%;
    bottom: 30%;
}

.cajaDescuento p {
    font-size: 80px;
    color: rgb(203, 61, 87);
    padding-top: 15px;
    font-weight: 600;
    -webkit-text-stroke: 2px white;
}

/* Sección de productos */
.contenedorProductos {
    padding: 55px;
}

.tituloProductos {
    font-size: 60px;
    clear: both;
}

/* Sección caja Probador */

.cajaProbador {
    height: 650px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: auto;
    position: relative;
}

.cajaProbador > div,
.cajaProbador .comparativaMaquillaje {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    float: left;
}

.tituloProbador {
    font-size: 70px;
    margin-bottom: 10px;
    line-height: 1;
}

.textoProbador {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-right: 10px;
}

.botonExplorar {
    float: left;
    font-size: 22px;
    font-weight: 600;
    margin-top: 12.5px;
    cursor: pointer;
}

.imgBoton {
    transition: all 0.2s ease-in-out;
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 5px;
    cursor: pointer;
}
.imgBoton:hover {
    transform: translateX(10px);
}

.comparativaMaquillaje {
    height: 90%;
}

.comparativaMaquillaje img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Sección de trucos */
.contenedorTrucos {
    width: 100%;
    height: 700px;
    margin: auto;
    padding: 40px;
}

.contenedorTrucos h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

.trucos div {
    width: 22.5%;
    margin-left: 2.5%;
    height: 500px;
    float: left;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.trucos div:first-child {
    margin-left: 0;
}

.contenedorTrucos p {
    color: white;
    font-size: 25px;
    font-weight: 600;
    width: 88%;
    margin: auto;
    position: relative;
    top: 85%;
}

.contenedorTrucos p:hover {
    text-decoration: underline;
}

.truco1 {
    background-image: url(../img/maquillaje/truco1.jpg);
}

.truco2 {
    background-image: url(../img/maquillaje/truco2.jpeg);
}

.truco3 {
    background-image: url(../img/maquillaje/truco3.jpeg);
}

.truco4 {
    background-image: url(../img/maquillaje/truco4.jpg);
}
