.video{
    width: 100%;
}

.titulo{
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    margin-top: 50px;
    font-family: work sans,sans-serif;
    color: #333;
}

.subTitulo{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 60px;
    font-family: work sans,sans-serif;
    color: #333;
}

.tipos{
    float: left;
    width: 20%;
    margin-left: 60px;
}

.tipos a{
    text-decoration: none;
    list-style: none;
}

.tipos img{
    width: 60%;
    border-radius: 20%;
    margin-left: 58px;
    opacity: 0.8;
}

.tipos img:hover{
    opacity: 1;
    cursor: pointer;
}

.tipos p{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    font-family: work sans,sans-serif;
    color: #333;
}   

.banner{
    clear: both;
    width: 100%;
    height: 400px;
    padding: 0;
    margin-top: 350px;
    background-color: rgb(224, 218, 218);
}

.tituloBanner{
    font-size: 35px;
    font-weight: 300;
    font-family: work sans,sans-serif;
    color: #333;
    width: 30%;
    float: left;
    padding: 0;
    margin: 0;
    margin-left: 150px;
    margin-top: 30px;
    text-align: center;
}

.textoBanner{
    font-size: 20px;
    width: 40%;
    text-align: justify;
    font-family: work sans,sans-serif;
    color: #333;
    line-height: 1.5;
    float: left;
    margin-left: 70px;
}

.imgBanner{
    width: 700px;
    height: 100%;
    float: right;
}

.tipoProductos{
    clear: both;
    width: 90%;
    height: 1200px;
    margin:auto;
    padding-top: 50px;
}

.tipoProductos h2{
    margin: auto;
    text-align: center;
    padding-bottom: 35px;
    font-size: 30px;
    font-weight: 300;
    font-family: work sans,sans-serif;
    color: #333;
}

.producto{
    float: left;
    width: 20%;
    height: 500px;
    margin-left: 55px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.imgProducto1{
    width: 300; 
    height: 300px;
    margin-left: 55px;
}

.imgProducto2{
    width: 300; 
    height: 300px;
    margin-left: 68px;
}

.imgProducto3{
    width: 300; 
    height: 300px;
    margin-left: 40px;
}

.imgProducto4{
    width: 300; 
    height: 300px;
    margin-left: 90px;
}

.imgProducto5{
    width: 300; 
    height: 300px;
    margin-left: 72px;
}

.imgProducto6{
    width: 300; 
    height: 300px;
    margin-left: 25px;
}

.imgProducto7{
    width: 300; 
    height: 300px;
    margin-left: 65px;
}

.nombreProducto{
    text-align: center;
    line-height: 1.5;
    font-size: 21px;
}

.precioProducto{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}

.botonCompra{
    width: 70%;
    margin-left: 40px;
    background-color: #000;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
    font-family: "Work Sans",sans-serif;
    font-size: 15px;
    letter-spacing: .19px;
    color: #fff;
    line-height: 1.33;
    padding: 12.5px 12px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

.botonCompra:hover{
    background-color: #fff;
    color: #000;;
}

aside{
    clear: both;
    width: 100%;
    height: 400px;
    background-color: rgb(224, 218, 218);
    margin-top: 180px;
    margin-bottom: 50px;
}

.tituloAside{
    font-size: 35px;
    font-weight: 300;
    font-family: work sans,sans-serif;
    color: #333;
    width: 40%;
    float: left;
    padding: 0;
    margin: 0;
    margin-left: 60px;
    margin-top: 30px;
    text-align: center;
}

.textoAside{
    font-size: 20px;
    width: 40%;
    text-align: justify;
    font-family: work sans,sans-serif;
    color: #333;
    line-height: 1.5;
    float: left;
    margin-left: 70px;
    margin-top: 55px;
}

.imgAside{
    width: 700px;
    height: 100%;
    float: right;
}

.cajaMarca{
    clear: both;
    width: 100%;
    height: 580px;
    padding: 0;
    margin-top: 150px;
}

.tituloMarca{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    font-family: work sans,sans-serif;
    color: #333;
}

.marca{
    width: 30%;
    height: 55%;
    float: left;
    margin-top: 20px;
    margin-left: 38px;
    
}

.marca img{
    width: 100%;
    height: 100%;
}

.textoMarca{
    margin-top: 15px;
    width: 30%;
    height: 25%;
    float: left;
    margin-left: 38px;
}

.textoMarca h3{
    font-size: 20px;
    font-weight: 300;
    font-family: work sans,sans-serif;
    color: #333;
    border-bottom: 1px solid #333;
    line-height: 1.5;
}

.textoMarca p{
    font-size: 16px;
    font-weight: 300;
    font-family: work sans,sans-serif;
    color: #333;
    line-height: 1.5;
    text-align: justify;
    width: 80%;
}   

.cajaCofresRegalo{
    clear: both;
    width: 100%;
    height: 700px;
    padding: 0;
    margin-top: 150px;
    margin-bottom: 0px;
    margin-bottom: 100px;
}

.cajaCofresRegalo h2{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    font-family: work sans,sans-serif;
    color: #333;
}

.cofresRegalo{
    width: 45%;
    height: 550px;
    float: left;
    margin-top: 20px;
    margin-left: 50px;
}

.botonCompraCofre{
    width: 30%;
    margin-left: 40px;
    background-color: #000;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
    font-family: "Work Sans",sans-serif;
    font-size: 15px;
    letter-spacing: .19px;
    color: #fff;
    line-height: 1.33;
    padding: 12.5px 12px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    margin-left: 235px;
    transition: all 0.2s ease-in-out;
}

.botonCompraCofre:hover{
    background-color: #fff;
    color: #000;;
}

.cajaKitDeMuestra{
    clear: both;
    width: 100%;
    height: 950px;
    padding: 0;
    margin-top: 150px;
    margin-bottom: 100px;
}

.tituloKitDeMuestra{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    font-family: work sans,sans-serif;
    color: #333;
}

.kitDeMuestra{
    width: 38%;
    height: 60%;
    float: left;
    margin-left: 150px;
    margin-top: 30PX;
    background-color: rgb(238, 236, 236);
}

.kitDeMuestra img{
    width: 100%;
    height: 100%;
}

.textoKitMuestra{
    clear: both;
    width: 50%;
    position: relative;
    top: 6%;
    left: 25%;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    font-family: Gotham,sans-serif;
}

.botonKit{
    width: 10%;
    margin-left: 40px;
    background-color: #000;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
    font-family: "Work Sans",sans-serif;
    font-size: 15px;
    letter-spacing: .19px;
    color: #fff;
    line-height: 1.33;
    padding: 12.5px 12px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    margin-left: 850px;
    margin-top: 100px;
    transition: all 0.2s ease-in-out;
}

.botonKit:hover{
    background-color: #fff;
    color: #000;;
}