/* En el archivo global.css existe unos estilos para cada elemento de producto, si deseas sobre escribirlos para cambiar algo a tu gusto, puedes hacerlo en este archivo. */
/* Las clases son .producto, .imagenProducto (que es una etiqueta de html <figure> que contiene una <img>), .nombreProducto, .precioProducto y .comprarProducto */
/* Te recomiendo ver el archivo maquillaje.php y maquillaje.css para que veas como se utiliza cada clase. */

/* img {
    height: 300px;
}
.comprar {
    width: 70%;
    position: relative;
    left: 15%;
    background-color: #000;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
    letter-spacing: 0.19px;
    color: #fff;
    line-height: 1.33;
    padding: 12.5px 12px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}
.precio {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}
.nombre {
    text-align: center;
    line-height: 1.5;
    font-size: 21px;
}
.imagen {
    width: 300;
    height: 300px;
    margin: auto;
} */
